################################################################################
# Diese .gitignore-Datei wurde von Microsoft(R) Visual Studio automatisch erstellt.
################################################################################

/.vs/receipt-tracking/v15/.suo
/.vs/slnx.sqlite
